{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('operation') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('operation') }}
{% endblock %}

{% block title %}Liste des photos{% endblock %}

{% block body %}
	<div class="container">

		{# TITRE #}
		<h2 class="radius-long offset-4 col-4">Liste des opérations</h2>

		{# ADD #}
		<a href="{{ path('operation_add', {'user': user.id}) }}">
			<div class="btn btn-success mb-2">
				Ajouter une opération
			</div>
		</a>

		{# LISTE #}
		<section class='row mb-5'>

			{# OPERATIONS #}
			<div class='row'>
				{% include 'operation/_operations.html.twig' %}

				<div class="col-12 mt-3 mb-1">
					{% if app.user.admin %}
						({{ user.userName|capitalize }})
						<br />
						<br />
					{% endif %}
					Solde : {{ solde != null ? solde : '0' }} €
				</div>
			</div>
		</section>
	</div>
{% endblock %}