<div class='row m-1 p-2 {{ loop.last != true ? 'mb-2' }} seances'>

	{# INFOS #}
	<div class='col-12'>

		{# TYPE #}
		<div class='taille17 gras souligne mb-2 mt-1'>{{ seance.type.name }}</div>

		{# DATE #}
		<span class='taille15'>
			le <span class='italique'>{{ seance.date|date('d/m/Y') }}</span> à partir de
			{% set hours = '0' in seance.date|date('H') ? seance.date|date('H')|slice(1, 1) : seance.date|date('H') %}
			{% set minutes = seance.date|date('i') != '00' ? seance.date|date('i') %}
			<span class='italique'>{{ hours ~ 'h' ~ minutes }}</span>
		</span>
		<br/>

		{# DURÉE #}
		{% if seance.duree %}
			<div class='taille14 mt-1'>
				Durée ~
				<span class='italique'>
					{{ '0' in seance.duree|date('H') ? seance.duree|date('H')|slice(1, 1) : seance.duree|date('H') }}h
					{{ seance.duree|date('i') != '00' ? seance.duree|date('i') ~ 'mn' }}
				</span>
			</div>
		{% endif %}

		{# LIEU #}
		{% set lieu = null != seance.lieu ? seance.lieu : lieu_defaut %}
		<div class='taille14 mt-1 mb-2'>
			Lieu - 
			<a
				href='http://www.google.com/search?q={{ lieu.adresse }}+{{ lieu.codePostal }}+{{ lieu.ville }}'
				class='italique cursor_help'
				title="{{ lieu.adresse ~ ', ' ~ lieu.codePostal ~ ', ' ~ lieu.ville }}"
			>
				{{ lieu.name }}
			</a>
		</div>

		{# COMMENT #}
		{% if seance.comment %}
			<div class='mb-3'>
				<span class='taille15'>{{ seance.comment }}</span>
			</div>
		{% endif %}
	</div>

	{# EN COURS #}
	{% if seance.date <= date('now') %}
		<div class='entoure seance-actif'>En cours !</div>

	{# TIMER #}
	{% else %}
		<span class="timer"></span>
		<div
			id="countdown{{ loop.index }}"
			class="countdown mb-3"
			data-date='{{ seance.date|date('Y-m-d') }}'
			data-hour='{{ seance.date|date('H') }}'
			data-minute='{{ seance.date|date('i') }}'
		>
			<div class="counter" count="days"><span b="--"></span><b>Jours</b></div>
			<div class="counter" count="hours"><span b="--"></span><b>Heures</b></div>
			<div class="counter" count="minutes"><span b="--"></span><b>Min</b></div>
			<div class="counter" count="seconds"><span b="--"></span><b>Sec</b></div>
		</div>
	{% endif %}

	{# PERSONNES PRESENTES #}
	{% set user_presence = app.user != null ? app.user.inSeance(seance) : false %}
	{% for present in seance.presents %}
		{% if loop.first %}
			<hr class="mt-2">
			<div class='col-12'>
				Personnes présentes
			</div>
		{% endif %}
		<div class='col-12 center present{{ loop.index is odd ? '-odd' }} {{ loop.last ? 'mb-3' }}'>
			<span class='taille15'>{{ present.userName|capitalize }}</span>
			{% if present.userProfil.prenom != null %}
				<span class='taille14'>({{ present.userProfil.prenom|capitalize }})</span>
			{% endif %}
		</div>
	{% endfor %}

	{# TABLE #}
	{% for table in seance.tables %}

		{# USER INSCRIT #}
		{% set inscrit = app.user != null
			? app.user.isInscrit(app.user, table)
				? true : false
			: false
		%}

		{# LOOP FIRST #}
		{% if loop.first %}
			<hr class="">
			<div class='col-12 mb-2'>
				Table ouverte
			</div>
		{% endif %}

		{# JEU #}
		<div class='col-12 mb-2 taille15 gras souligne'>
			{{ null != table.gameFree ? table.gameFree : table.game.name }}
		</div>

		{# PLAYERS #}
		{% set nbPlace = table.maxPlayer %}
		{% for player in table.players %}
			{% set nbPlace = nbPlace - 1 %}
			{% set name = null != player.userProfil.nom and null != player.userProfil.prenom
				? ' (' ~ player.userProfil.prenom|capitalize ~ ' ' ~ player.userProfil.nom|capitalize ~ ')'
				: ''
			%}
			{% set gerant = null != player.userProfil.nom and null != player.userProfil.prenom
				? 'gerant'
				: ''
			%}
			<div class='col-12 table-player taille15 {{ gerant }}'>
				{{ player.userName|capitalize }}{{ name }}
				{% if app.user != null and player.id == app.user.id ? true : false %}
					<span class='table_form taille14 pointeur_help' title="Se désinscrire de cette table">non</span>
				{% endif %}
			</div>
		{% endfor %}

		{# PLACE LIBRE #}
		{% for i in 1..nbPlace %}
			<div class='col-12 {{ loop.last ? 'mb-2' }} table-free italique taille15'>
				Place libre {{ i }}
				{% if loop.first and app.user is defined and inscrit == false %}
					<span class='table_form taille14 pointeur_help' title="S'inscrire à cette table">oui</span>
				{% endif %}
			</div>
		{% endfor %}
	{% endfor %}

	{# PRÉSENCE INSCRIPTION #}
	{% if is_granted('ROLE_USER') %}
		<hr class="mt-1">
		<div class="row center">

			<div class="col-12">
				{{
					user_presence
						? "<i class='fas fa-check green'></i> J'ai confirmé ma présence"
						: "<i class='fas fa-times red'></i> <span class='taille14'>Je n'ai pas confirmé ma présence</span>"
				}}
			</div>
		</div>

		{# FORM #}
		<div class="row center mt-2">
			{% set form = loop.index == 1 ? form1 : form2 %}
			{% include('seance/_form_presence.html.twig')  with {
					'form': form,
					'presence': user_presence,
					'presence_text': user_presence ? "J'ai changé d'avis" : 'Je serai présent',
				}
			%}
		</div>
	{% endif %}
</div>