{% extends 'base.html.twig' %}

{% block title %}Séances{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('seance') }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Séances</h2>

			{# BUTTONS #}
			<div class='row'>

				{# ADD #}
				<div class='col-2'>
					<a href="{{ path('seance_add') }}">
						<div class="btn btn-success mb-2">
							Ajouter une séance
						</div>
					</a>
				</div>

				{# GESTION TYPE #}
				<div class='col-3'>
					<a href="{{ path('seance_type') }}">
						<div class="btn btn-success mb-2">
							Gérer les types de séances
						</div>
					</a>
				</div>

				{# GESTION LIEU #}
				<div class='col-3'>
					<a href="{{ path('seance_lieu') }}">
						<div class="btn btn-success mb-2">
							Gérer les adresses des séances
						</div>
					</a>
				</div>
			</div>

			{# TABLEAU LISTE #}
			<section class='col-12 mb-3'>

				<table class="table">
					<thead>
						<tr>
							<th>actions</th>
							<th>Type</th>
							<th>Date</th>
							<th>Durée</th>
							<th>Commentaire</th>
							<th>Id</th>
						</tr>
					</thead>
					<tbody>
					{% for seance in seances_running %}
						<tr>
							<td style='min-width:20px;'>
								<div class='row'>
									<div class='offset-1 col-1'>
										<a href="{{ path('seance_edit', {'id': seance.id}) }}"><i class="fas fa-edit" title="Modifier"></i></a>
									</div>
								</div>
							</td>
							<td>{{ seance.type.name }}</td>
							<td>{{ seance.date ? seance.date|date('d-m-Y H:i:s') : '' }}</td>
							<td>{{ seance.duree ? seance.duree|date('H:i') : '' }}</td>
							<td>{{ seance.comment }}</td>
							<td>{{ seance.id }}</td>
						</tr>
					{% endfor %}
					{% for seance in seances_over %}
						<tr class="grey {{ seances_running|length > 0 and seances_over|length > 0  and loop.first ? 'limite_over' }}">
							<td style='min-width:20px;'>
								<div class='row'>
									<div class='offset-1 col-1'>
										<a href="{{ path('seance_edit', {'id': seance.id}) }}"><i class="fas fa-edit" title="Modifier"></i></a>
									</div>
								</div>
							</td>
							<td>{{ seance.type.name }}</td>
							<td>{{ seance.date ? seance.date|date('d-m-Y H:i:s') : '' }}</td>
							<td>{{ seance.duree ? seance.duree|date('H:i') : '' }}</td>
							<td>{{ seance.comment }}</td>
							<td>{{ seance.id }}</td>
						</tr>
					{% endfor %}
					{% if seances_running|length == 0 and seances_over|length == 0 %}
						<tr>
							<td colspan="4">Aucune séances trouvées</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			</section>
		</div>
	</div>
{% endblock %}