{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
	{{ encore_entry_link_tags('timer') }}
	{{ encore_entry_link_tags('modal_photo') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('timer') }}
	{{ encore_entry_script_tags('modal_photo') }}
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<div class="container">
		<div class='row center mb-3'>

			{# CONNEXION (GAUCHE) #}
			{% include 'home/connexion/_index.html.twig' %}

			{# ACTUS (CENTRE) #}
			{% include 'home/actu/_index.html.twig' %}

			{# CALENDRIER (DROITE) #}
			{% include 'home/calendrier/_index.html.twig' %}

		</div>
	</div>

	{# MODAL #}
	{% include 'home/_modal.html.twig' %}

{% endblock %}