{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('timer') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('timer') }}
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<div class="container">
		<div class='row center mb-3'>

			{# CONNEXION (GAUCHE) #}
			<section class='col-xs-12 col-sm-12 col-md-12 col-lg-3'>
				<div class="entete-section">
					<h4>Connexion</h4>
				</div>

				{# MESSAGES FLASH SUCCESS #}
				{% for message in app.flashes('login_success') %}
					<div class="flash-notice mt-3 mb-3 bg-success text-center">
						Succès : {{ message }}
					</div>
				{% endfor %}

				{% include 'login/index.html.twig' %}

				{# MESSAGES FLASH LOGIN ERROR #}
				{% for message in app.flashes('login_error') %}
					<div class="flash-notice mt-3 mb-3 bg-danger text-center">
						Erreur : {{ message }}
					</div>
				{% endfor %}
			</section>

			{# ACTUS (CENTRE) #}
			<section class='col-xs-12 col-sm-12 col-md-12 col-lg-6'>
				<div class="entete-section">
					<h4>Actualités</h4>
				</div>
				<div class='mb-3'>
					Bonjour 
					{# {{ app.user.username|capitalize }} #}
					et bienvenue sur le site de l'association de jeux de société : Ludi-Meep'
				</div>
				<div class='mb-3'>Nous serons ravis de vous accueillir pour notre ouverture prochaine.</div>
				<div class='mb-3 gras entoure'>
					le 19 avril 2022 à partir de 18h30
					<br />
					4 Rue Jean Bordier, 45130 Baule. Batiment annexe gauche de la mairie
				</div>
				<img class='img_event'src="{{ asset('build/image/event/flyer.jpg') }}">
			</section>

			{# CALENDRIER (DROITE) #}
			<section class='col-xs-12 col-sm-12 col-md-12 col-lg-3'>
				<div class="entete-section">
					<h4>Calendrier</h4>
				</div>
				<div>Nous somme le {{ dateJour }}</div>
				<iframe
					src="https://calendar.google.com/calendar/embed?height=300&wkst=2&bgcolor=%23dc81f3&ctz=Europe%2FParis&mode=AGENDA&title=S%C3%A9ance%20Ludi-Meep'&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=azlqajNrcGw5b29xNWxlbG9kdTdvcDBxYzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%239E69AF" style="border:solid 1px #777"
					width="300"
					height="300"
					frameborder="0"
					scrolling="no"
				></iframe>

				<div>
					Prochaine séance dans :
					<span id="timer"></span>
					<div id="countdown">
						<div class="counter" count="days"><span b="--"></span><b>Jours</b></div>
						<div class="counter" count="hours"><span b="--"></span><b>Heures</b></div>
						<div class="counter" count="minutes"><span b="--"></span><b>Min</b></div>
						<div class="counter" count="seconds"><span b="--"></span><b>Sec</b></div>
					</div>
				</div>
			</section>
		</div>
	</div>

{% endblock %}