<div class='row'>

	<h4 class="radius-short offset-1 col-10 d-none d-lg-block d-xl-block">Prochaines date</h4>
	<h4 class="radius-long offset-1 col-10 d-none d-lg-none d-xl-none d-sm-block d-md-block">Prochaines date</h4>

	<div class='mb-5'>

		{% for seance in seances %}

			{# HR #}
			{% if not loop.first %}
				<hr>
			{% endif %}

			{# SÉANCE #}
			<div class='row mt-3 mb-3'>

				<div class='col-12 mb-1 '>

					{# TYPE #}
					<span class='taille15 gras'>{{ seance.type.name }}</span>
					<br/>

					{# DATE #}
					<span class='taille14 italique'>
						le {{ seance.date|date('d/m/Y') }} à partir de
						{% set hours = '0' in seance.date|date('H') ? seance.date|date('H')|slice(1, 1) : seance.date|date('H') %}
						{% set minutes = seance.date|date('i') != '00' ? seance.date|date('i') %}
						{{ hours ~ 'h' ~ minutes }}
					</span>
					<br/>

					{# DURÉE #}
					{% if seance.duree %}
						<span class='taille14'>
							Durée ~
							{{ '0' in seance.duree|date('H') ? seance.duree|date('H')|slice(1, 1) : seance.duree|date('H') }}h
							{{ seance.duree|date('i') != '00' ? seance.duree|date('i') ~ 'mn' }}
						</span>
					{% endif %}
				</div>

				{# COMMENT #}
				{% if seance.comment %}
					<div class='col-12 mb-3 '>
						<span class='taille15'>{{ seance.comment }}</span>
					</div>
				{% endif %}

				{# EN COURS #}
				{% if seance.date <= date %}
					<div class='entoure seance-actif'>En cours !</div>

				{# A VENIR #}
				{% else %}
					<span class="timer"></span>
					<div
						id="countdown{{ loop.index }}"
						class="countdown mb-3"
						data-date='{{ seance.date|date('Y-m-d') }}'
						data-hour='{{ seance.date|date('H') }}'
						data-minute='{{ seance.date|date('i') }}'
					>
						<div class="counter" count="days"><span b="--"></span><b>Jours</b></div>
						<div class="counter" count="hours"><span b="--"></span><b>Heures</b></div>
						<div class="counter" count="minutes"><span b="--"></span><b>Min</b></div>
						<div class="counter" count="seconds"><span b="--"></span><b>Sec</b></div>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>