{{ form_start(form) }}

	<div class="row center mt-4">

		{# PHOTO #}
		<div class="offset-2 col-3 mb-4 alignRight">
			{{ form_label(form.photo) }}
		</div>
		<div class="col-4 mb-4">
			{{ form_widget(form.photo) }}
		</div>

		{# DELETE PHOTO #}
		<div class="offset-2 col-3 mb-4 alignRight">
			{{ form_label(form.deletePhoto) }}
		</div>
		<div class="col-4 mb-4 pt-2">
			{{ form_widget(form.deletePhoto) }}
		</div>

		{# COMMENT #}
		<div class="offset-2 col-3 mb-4 pt-2 alignRight">
			{{ form_label(form.comment) }}
		</div>
		<div class="col-4 mb-4">
			{{ form_widget(form.comment) }}
		</div>
	</div>

	<div class="offset-6 col-2 mt-4 mb-4">
		<button class="btn btn-success">{{ button_label|default("Enregistrer") }}</button>
	</div>

{{ form_end(form) }}