{% set vote = vote is defined ? vote : 0 %}

<div class='col-12 actu'>
	<ul>
		<li {{ vote == 1 ? "class='gras'" }}>{{ s.line1 }}</li>
		<li {{ vote == 2 ? "class='gras'" }}>{{ s.line2 }}</li>
		{% if s.line3 is not empty %}
			<li {{ vote == 3 ? "class='gras'" }}>{{ s.line3 }}</li>
		{% endif %}
		{% if s.line4 is not empty %}
			<li {{ vote == 4 ? "class='gras'" }}>{{ s.line4 }}</li>
		{% endif %}
		{% if s.line5 is not empty %}
			<li {{ vote == 5 ? "class='gras'" }}>{{ s.line5 }}</li>
		{% endif %}
		{% if s.line6 is not empty %}
			<li {{ vote == 6 ? "class='gras'" }}>{{ s.line6 }}</li>
		{% endif %}
		{% if s.line7 is not empty %}
			<li {{ vote == 7 ? "class='gras'" }}>{{ s.line7 }}</li>
		{% endif %}
		{% if s.line8 is not empty %}
			<li {{ vote == 8 ? "class='gras'" }}>{{ s.line8 }}</li>
		{% endif %}
	</ul>
</div>