{{ form_start(form) }}
	<div class='row'>

		{# NOM #}
		<div class="offset-1 col-2 pt-3 right">
			{{ form_label(form.name) }}
		</div>
		<div class="col-3 pt-1">
			{{ form_widget(form.name) }}
		</div>

		{# NOMBRE DE JOUEURS #}
		<div class="col-2 pt-3 right">
			{{ form_label(form.nbPlayers) }}
		</div>
		<div class="col-3 pt-1 right">
			{{ form_widget(form.nbPlayers) }}
		</div>

		{# DIFFICULTÉ #}
		<div class="col-2 offset-1 pt-3 right">
			<span>{{ form_label(form.difficult) }}</span>
		</div>
		<div class="col-3 pt-1 right">
			{{ form_widget(form.difficult) }}
		</div>

		{# VERSION #}
		<div class="col-2 pt-3 right">
			<span>{{ form_label(form.version) }}</span>
		</div>
		<div class="col-3 pt-1 right">
			{{ form_widget(form.version) }}
		</div>

		{# AGE MINIMUM #}
		<div class="offset-1 col-2 pt-3 right">
			<span>{{ form_label(form.minAge) }}</span>
		</div>
		<div class="col-3 pt-1 right">
			{{ form_widget(form.minAge) }}
		</div>

		{# DUREÉ #}
		 <div class="col-2 pt-3 right">
			<span>{{ form_label(form.time) }}</span>
		</div>
		<div class="col-3 pt-1 right">
			{{ form_widget(form.time) }}
		</div>

		{# OWNER #}
		{% if admin %}
			<div class="offset-1 col-2 pt-3 mt-3 right">
				<span>{{ form_label(form.owner) }}</span>
			</div>
			<div class="col-4 pt-1 mt-3 right">
				{{ form_widget(form.owner) }}
			</div>
		{% endif %}
	</div>

	{{ include('shieldui/_modal_ending.html.twig') }}

{{ form_end(form) }}