{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('game') }}
	{{ encore_entry_link_tags('photo') }}
	{{ encore_entry_link_tags('shieldui') }}
	{{ encore_entry_link_tags('modal_photo') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('game') }}
	{{ encore_entry_script_tags('shieldui') }}
	{{ encore_entry_script_tags('modal_photo') }}
{% endblock %}

{% block title %}Ludothèque{% endblock %}

{% block body %}
	<div class="container">

		{# TITRE #}
		<h2 class="radius-long offset-4 col-4">Ludothèque</h2>

		{# LISTE #}
		<section class='row mb-3 h-100'>
			{% include 'shieldui/_grid.html.twig' %}
		</section>
	</div>

	{# MODAL PHOTOS #}
	{% include 'home/_modal.html.twig' %}

	{# MODAL FORM ADD #}
	<div id="modal" class="hide">
		<div class='container'>

			{# LOADING #}
			<div class="text-center hide loading">
				<div class="spinner-border text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>

			{# INFOS GÉNÉRALES #}
			<div class="row mt-3 mb-3">
				<h5 class="offset-3 col-4 left">Infos générales</h5>
			</div>

			{# FORM #}
			{{ include('game/_form.html.twig') }}

		</div>
	</div>
{% endblock %}