{# BOUCLE ACTUS #}
{% for actu in actus %}
	<div class='row img_grow'>
		<div class='mb-3 souligne'>{{ actu.titre|raw }}</div>

		{# BOUCLE ÉLÉMENTS PAR ORDRE #}
		{% for log in actu.ordre|split('_') %}

			{# TEXTES #}
			{% if log == 't1' %}
				<div class='mb-3 {{ actu.text1Class }}'>{{ actu.text1|raw }}</div>
			{% elseif log == 't2' %}
				<div class='mb-3 {{ actu.text2Class }}'>{{ actu.text2|raw }}</div>
			{% elseif log == 't3' %}
				<div class='mb-3 {{ actu.text3Class }}'>{{ actu.text3|raw }}</div>
			{% elseif log == 't4' %}
				<div class='mb-3 {{ actu.text4Class }}'>{{ actu.text4|raw }}</div>
			{% elseif log == 't5' %}
				<div class='mb-3 {{ actu.text5Class }}'>{{ actu.text5|raw }}</div>
			{% elseif log == 't6' %}
				<div class='mb-3 {{ actu.text6Class }}'>{{ actu.text6|raw }}</div>

			{# PHOTOS #}
			{% elseif log == 'p1' %}
				<div class='mb-3'>
					<img id='img_{{ actu.id }}_1' class="col-12" src="{{ asset('uploads/actus/images/' ~ actu.photo1) }}" alt="{{ actu.photo1Alt }}">
				</div>
			{% elseif log == 'p2' %}
				<div class='mb-3'>
					<img id='img_{{ actu.id }}_2' class="col-12" src="{{ asset('uploads/actus/images/' ~ actu.photo2) }}" alt="{{ actu.photo2Alt }}">
				</div>
			{% elseif log == 'p3' %}
				<div class='mb-3'>
					<img id='img_{{ actu.id }}_3' class="col-12" src="{{ asset('uploads/actus/images/' ~ actu.photo3) }}" alt="{{ actu.photo3Alt }}">
				</div>
			{% endif %}
		{% endfor %}

		{# AUTEUR #}
		<div class='mb-3 taille11 alignRight italique'>
			Par {{ actu.auteur.prenom|capitalize }} {{ actu.auteur.nom|upper }} - {{ actu.date|date('d/m/Y à H:i') }}
		</div>

		{# BARRE DE SÉPARATION #}
		{{  loop.last ? '' : '<hr>' }}
	</div>
{% endfor %}