{{ form_start(form) }}

	<div class="row center mt-4">

		{# TITRE #}
		<div class="offset-2 col-3 mb-4 alignRight">
			{{ form_label(form.titre) }}
		</div>
		<div class="col-4 mb-4">
			{{ form_widget(form.titre) }}
		</div>

		{# DUREE #}
		<div class="offset-2 col-3 mb-4 alignRight">
			{{ form_label(form.duree) }}
		</div>
		<div class="col-4 mb-4">
			{{ form_widget(form.duree) }}
		</div>

		{# PRIORITE #}
		<div class="offset-2 col-3 mb-4 alignRight">
			{{ form_label(form.priorite) }}
		</div>
		<div class="col-4 mb-4">
			{{ form_widget(form.priorite) }}
		</div>

		{# REQUIS #}
		<div class="offset-2 col-3 mb-4 alignRight">
			{{ form_label(form.required) }}
		</div>
		<div class="col-4 mb-4 pt-2">
			{{ form_widget(form.required) }}
		</div>

		{# UNIQUE #}
		<div class="offset-2 col-3 mb-4 alignRight">
			{{ form_label(form.uniq) }}
		</div>
		<div class="col-4 mb-4 pt-2">
			{{ form_widget(form.uniq) }}
		</div>

		{# ACTIF #}
		<div class="offset-2 col-3 alignRight">
			{{ form_label(form.isActif) }}
		</div>
		<div class="col-4 pt-2">
			{{ form_widget(form.isActif) }}
		</div>
	</div>

	<div class="offset-6 col-2 mt-4 mb-4">
		<button class="btn btn-success">{{ button_label|default("Enregistrer") }}</button>
	</div>

{{ form_end(form) }}