{{ form_start(form) }}

	<div class="row center mt-4">

		{% if libelle %}

			{# LIBELLE #}
			<div class="offset-2 col-3 mb-4 alignRight">
				{{ form_label(form.libelle) }}
			</div>
			<div class="col-4 mb-4">
				{{ form_widget(form.libelle) }}
			</div>
		{% endif %}

		{# DESCRIPTION #}
		<div class="offset-2 col-3 mb-4 alignRight">
			{{ form_label(form.contenu) }}
		</div>
		<div class="col-4 mb-4">
			{{ form_widget(form.contenu) }}
		</div>

		{% if app.user is null %}

			{# MAIL #}
			<div class="offset-2 col-3 mb-4 alignRight">
				{{ form_label(form.mail) }}
			</div>
			<div class="col-4 mb-4">
				{{ form_widget(form.mail) }}
			</div>
		{% endif %}
	</div>

	<button class="btn btn-success">
		{{ button_label|default('Enregistrer') }}
	</button>

{{ form_end(form) }}
