{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('photo') }}
	{{ encore_entry_link_tags('modal_photo') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('photo') }}
	{{ encore_entry_script_tags('modal_photo') }}
{% endblock %}

{% block title %}Liste des photos{% endblock %}

{% block body %}
	<div class="container">

		{# TITRE #}
		<h2 class="radius-long offset-4 col-4">Liste des photos</h2>

		{# ADD #}
		{% if is_granted('ROLE_USER') and app.user.accesPhoto %}
			<a href="{{ path('photo_add') }}">
				<div class="btn btn-success mb-2">
					Ajouter une image
				</div>
			</a>
		{% endif %}

		{# LISTE #}
		<section class='row mb-5'>

			{# PHOTOS #}
			<div id='show_photos' class='row'>
				{% include 'photo/_photos.html.twig' %}
			</div>

			{# SPINNER #}
			<div id="loading" class="row mt-4 mb-4">
				<div class="offset-6 col-1">
					<div class="spinner-border text-primary hide" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>
		</section>
	</div>

	{# MODAL #}
	{% include 'home/_modal.html.twig' %}

{% endblock %}
