{# USER #}
<div class='col-12 mb-2'>
	{{ app.user.userName|capitalize }}
	{% if app.user.asso.adherant %}
		<img
			src="{{ asset('build/image/logo/membre.png') }}"
			class='pointeur_help'
			title="Adhérent n° {{ app.user.asso.adherant }}"
		/>
	{% endif %}
</div>

{# JEUX #}
<div class='col-6'><a href="{{ path('game') }}" class='lien_profil'>Mes jeux</a></div>

{# PROFIL #}
<div class='col-6'><a href="{{ path('user_show', { 'id':app.user.id} ) }}" class='lien_profil'>Mon profil</a></div>

{# SOLDE #}
{% if app.user.asso.adherant %}
	<div class='col-12 mt-4'>
		<a href="{{ path('operation_show', { 'id':app.user.id} ) }}" class="lien_profil">
			<span class='cursor_help' title='Solde utilisé dans le cadre du paiement commun des repas du soir'>Mon solde repas:</span>
			{{ solde != null ? solde : '0' }} €
		</a>
	</div>
{% endif %}