<div class='row'>
	<div class='col-4 alignRight'>
		{{ app.user.userName|capitalize }}
		{% if app.user.asso.adherant %}
			<div class='col-12'>
				<img src="{{ asset('build/image/logo/membre.png') }}" class='pointeur_help' title="Adhérant n° {{ app.user.asso.adherant }}">
			</div>
		{% endif %}
	</div>
	<div class='col-4'><a href="{{ path('game') }}" class='lien_profil'>Mes jeux</a></div>
	<div class='col-4'><a href="{{ path('user_show', { 'id':app.user.id} ) }}" class='lien_profil'>Mon profil</a></div>
</div>
<div class='row mt-2'>
	<div class='col-12'>
		<p>
			<span class='souligne'>A venir</span>
			<ul class="alignLeft">
				<li>Commenter les actualités et les images</li>
			</ul>
		</p>
	</div>
</div>
<div class='row'>
	<div class='col-12'>
		<a href='{{ path('logout') }}'>Déconnexion</a>
	</div>
</div>