<h4 class="radius-short offset-2 col-8 d-none d-lg-block d-xl-block">{{ titre_connexion }}</h4>
<h4 class="radius-long offset-2 col-8 d-none d-lg-none d-xl-none d-sm-block d-md-block">{{ titre_connexion }}</h4>

{# MESSAGES FLASH SUCCESS #}
{% for message in app.flashes('login_success') %}
	<div class="flash-notice mt-3 mb-3 bg-success text-center">
		Succès : {{ message }}
	</div>
{% endfor %}

{# MESSAGES FLASH LOGIN ERROR #}
{% for message in app.flashes('login_error') %}
	<div class="flash-notice mt-3 mb-3 bg-danger text-center">
		Erreur : {{ message }}
	</div>
{% endfor %}

{# MESSAGES FLASH LOGIN INFOS #}
{% for message in app.flashes('login_info') %}
	<div class="flash-notice mt-3 mb-3 bg-info text-center">
		{{ message }}
	</div>
{% endfor %}

{# ESPACE MEMBRE - FORM LOGIN #}
{% if app.user is not null %}
	{% include 'home/connexion/_espace_membre.html.twig' %}
{% else %}
	{% include 'home/connexion/_form_login.html.twig' %}
{% endif %}
