{% set route = app.request.attributes.get('_route') %}
<div class="text-center">
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<ul class="navbar-nav me-auto mb-2">


				{# PHOTO #}
				<li class="nav-item">
					<a class="hoverable nav-link {{ route == 'photo' ? 'active'}}" aria-current="page" href="{{ path('photo') }}">
						<i class="fa-solid fa-image" title='Photos'></i>
						Photos
					</a>
				</li>

				{# JEUX #}
				<li class="nav-item">
					<a class="hoverable nav-link {{ route == 'game' ? 'active'}}" aria-current="page" href="{{ path('game') }}">
						<i class="fa-solid fa-chess-board" title='Jeux'></i>
						Jeux
					</a>
				</li>

				{# VIE DU SITE #}
				{% 
					set route_vieSite = 
						route == 'actu' or
						route == 'sondage' or
						route == 'newsletter'
							? true
							: false
				%}
				<li class="nav-item dropdown">
					<a
						class="hoverable nav-link {{ route_vieSite ? 'active'}} dropdown-toggle"
						href="#"
						role="button"
						id="navbarDropdown"
						aria-expanded="false"
						data-bs-toggle="dropdown"
					>
						{# <i class="far fa-heart-rate"></i> #}
						<i class="fas fa-heartbeat"></i>
						Vie du site
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">

						{# ACTUS #}
						<li>
							<a class="dropdown-item" href="{{ path('actu') }}">
								<i class="fa-solid fa-newspaper" title='Actualités'></i>
								Actualités
							</a>
						</li>

						{# SONDAGES #}
						<li>
							<a class="dropdown-item" href="{{ path('sondage') }}">
								<i class="fas fa-poll" title="Sondages"></i>
								Sondages
							</a>
						</li>

						{# NEWLETTER #}
						<li class="nav-item">
							<a class="dropdown-item" href="{{ path('newsletter') }}">
								<i class="fa-regular fa-envelope" title='Newsletters'></i>
								Newletters
							</a>
						</li>
					</ul>
				</li>

				{# ASSO #}
				{% 
					set route_asso = 
						route == 'infos' or
						route == 'faq' or
						route == 'organigramme' or
						route == 'reglement' or
						route == 'statuts'
							? true
							: false
				%}
				<li class="nav-item dropdown">
					<a
						class="hoverable nav-link {{ route_asso ? 'active'}} dropdown-toggle"
						href="#"
						role="button"
						id="navbarDropdown"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						<i class="fas fa-building" title='Asso'></i>
						L'asso
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="{{ path('infos') }}">&nbsp;<i class="fas fa-info"></i> &nbsp;&nbsp;&nbsp;Infos pratique</a></li>
						<li><a class="dropdown-item" href="{{ path('faq') }}"><i class="fas fa-question"></i> &nbsp;&nbsp;&nbsp;Foire aux questions</a></li>
						<li><a class="dropdown-item" href="{{ path('organigramme') }}"><i class="fas fa-sitemap"></i> &nbsp;Organigramme</a></li>
						<li><a class="dropdown-item" href="{{ path('reglement') }}"><i class="fas fa-file"></i> &nbsp;&nbsp;&nbsp;Réglement intérieur</a></li>
						<li><a class="dropdown-item" href="{{ path('statuts') }}"><i class="fas fa-file-alt"></i> &nbsp;&nbsp;&nbsp;Statuts</a></li>
					</ul>
				</li>

				{# CONTACT #}
				{% 
					set route_contact = 
						route == 'message' or
						route == 'appel'
							? true
							: false
				%}
				<li class="nav-item dropdown">
					<a
						class="hoverable nav-link {{ route_contact ? 'active'}} dropdown-toggle"
						href="#"
						id="navbarDropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						<i class="far fa-comment-alt" title='Contact'></i>
						Nous contacter
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="{{ path('discussion_add') }}"><i class="fas fa-pen-alt"></i> &nbsp;Écrire un message</a></li>
						<li><a class="dropdown-item" href="{{ path('appel') }}"><i class="fas fa-phone"></i> &nbsp;Nous appeller</a></li>
						<li><hr class="dropdown-divider"></li>
						<li>&nbsp;&nbsp;ludimeep@protonmail.com&nbsp;&nbsp;</li>
					</ul>
				</li>

				{# INSCRIPTION #}
				{% if app.user is null or is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a class="hoverable nav-link {{ route == 'user_add' ? 'active'}}" href="{{ path('user_add') }}">
							<i class="fa-solid fa-file-contract" title='Inscription'></i>
							Inscription
						</a>
					</li>
				{% endif %}

				{# DISCUSSION #}
				{% if app.user is not null %}
					<li class="nav-item">
						<a
							class="hoverable nav-link {{ route == 'discussion' ? 'active'}}"
							href="{{ path('discussion') }}"
						>
							<i class="far fa-comments" title='Mes messages'></i>
							{% set message_perso = app.session.get('message_perso') != null ? app.session.get('message_perso') : '0' %}
							{% set pluriel = message_perso > 1 ? 's' : '' %}
							Mes discussions
							{% if message_perso > 0 %}
								<span title="{{ message_perso }} message{{ pluriel }} non lu{{ pluriel }}">({{ message_perso }})</span> 
							{% endif %}
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</div>