{% set route = app.request.attributes.get('_route') %}
<div class="text-center">
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">


			<ul class="navbar-nav me-auto mb-2">

				{# ADMIN #}
				<li class="nav-item admin">
					<i class="fas fa-screwdriver" title='Admin'></i>
					ADMIN
				</li>

				{# ADD ACTU #}
				<li class="nav-item">
					<a class="admin-li hoverable nav-link {{ route == 'actu_add' ? 'active'}}" aria-current="page" href="{{ path('actu_add') }}">
						<i class="fa-solid fa-newspaper" title="Ajout d'actualités"></i>
						Ajout Actu
					</a>
				</li>

				{# ADD SONDAGE #}
				<li class="nav-item">
					<a class="admin-li hoverable nav-link {{ route == 'sondage_add' ? 'active'}}" aria-current="page" href="{{ path('sondage_add') }}">
						<i class="fas fa-poll" title="Ajout d'un sondage"></i>
						Ajout Sondage
					</a>
				</li>

				{# SÉANCE #}
				<li class="nav-item">
					<a class="admin-li hoverable nav-link {{ route == 'seance' ? 'active'}}" aria-current="page" href="{{ path('seance') }}">
						<i class="far fa-calendar-alt" title='Gérer les séances'></i>
						Séances
					</a>
				</li>

				{# ADD NEWSLETTER #}
				<li class="nav-item">
					<a class="admin-li hoverable nav-link {{ route == 'newsletter_add' ? 'active'}}" aria-current="page" href="{{ path('newsletter_add') }}">
						<i class="fa-regular fa-envelope" title='Créer des newsletters'></i>
						Créer Newsletter
					</a>
				</li>

				{# MEMBRES #}
				<li class="nav-item">
					<a class="admin-li hoverable nav-link {{ route == 'user' ? 'active'}}" aria-current="page" href="{{ path('user') }}">
						<i class="fas fa-user" title='Liste des membres'></i>
						Membres
						{% set solde_unvalid = app.session.get('solde_unvalid') != null ? app.session.get('solde_unvalid') : '0' %}
						{% set pluriel = solde_unvalid > 1 ? 's' : '' %}
						{% if solde_unvalid > 0 %}
							<span title="{{ solde_unvalid }} ligne{{ pluriel }} à validée{{ pluriel }}">({{ solde_unvalid }})</span> 
						{% endif %}
					</a>
				</li>

				{# VOIR MESSAGE #}
				<li class="nav-item">
					<a
						class="admin-li hoverable nav-link {{ route == 'message_admin' ? 'active'}}"
						aria-current="page"
						href="{{ path('discussion_admin') }}"
					>
						<i class="fas fa-comment"  title='Voir les messages'></i>
						Voir les discussions
						{% set message_admin = app.session.get('message_admin') != null ? app.session.get('message_admin') : '0' %}
						{% set pluriel = message_admin > 1 ? 's' : '' %}
						{% if message_admin > 0 %}
							<span title="{{ message_admin }} message{{ pluriel }} non lu{{ pluriel }}">({{ message_admin }})</span> 
						{% endif %}
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>