<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>Ludi-Meep' - {% block title %}Bienvenue{% endblock %}</title>

		{% block stylesheets %}

			{# SHIELDUI #}
			<link rel="stylesheet" href="{{ asset('shieldui/shieldui-lite/dist/css/light-bootstrap/all.min.css') }}">

			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}

			{# JQUERY #}
			<script type="text/javascript" src="{{ asset('/jquery/jquery_3.6.0_min.js') }}"></script>

			{# FOSJsRouting #}
			<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
			<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

			{# SHIELDUI #}
			{# <script src="{{ asset('shieldui/shieldui-all.min.js') }}"></script> #} {# SHIELD UI FULL #}
			<script src="{{ asset('shieldui/shieldui-lite/dist/js/shieldui-lite-all.min.js') }}"></script> {# SHIELD UI LITE #}
			<script src="{{ asset('shieldui/shieldui-lite/dist/js/shieldui-lite-latestjszip.min.js') }}"></script> {# EXPORT EXCEL #}
			<script id="noRecordsTemplate" type="text/x-shield-template">{% include 'shieldui/_noRecordsTemplate.html.twig' %}</script>
			<script id="loading" type="text/x-shield-template">{% include 'shieldui/_loading.html.twig' %}</script>

			{# WEBPACK #}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		{# HEADER #}
		{% block header %}{% include '_header.html.twig' %}{% endblock %}

		{# MESSAGES FLASH SUCCESS #}
		{% for message in app.flashes('success') %}
			<div class="flash-notice mt-3 mb-3 bg-success text-center text-white">
				Succès : {{ message|raw }}
			</div>
		{% endfor %}

		{# MESSAGES FLASH ERROR #}
		{% for message in app.flashes('error') %}
			<div class="flash-notice mt-3 mb-3 bg-danger text-center text-white">
				Erreur : {{ message|raw }}
			</div>
		{% endfor %}
		
		{# BODY #}
		{% block body %}{% endblock %}

		{# FOOTER #}
		{% block footer %}{% include '_footer.html.twig' %}{% endblock %}
	</body>
</html>