<div class="container mt-3 mb-4">
  	<div class="row justify-content-md-center">

  		{# COUVERTURE #}
		<div class="col-10">
			<a href="{{ path('home') }}">
				<img src="{{ asset('build/image/logo/entete.png') }}">
			</a>
		</div>

		{# NAVBAR #}
		<div class="col-12 text-center">
			<nav class="navbar navbar-expand-lg navbar-light">
				<ul class="nav navbar-nav me-auto mb-2 mb-lg-0">

					{# ACTUS #}
					<li class="nav-item">
						<a class="hoverable nav-link" aria-current="page" href="{{ path('actu') }}">Actualités</a>
					</li>

					{# PHOTOS #}
					<li class="nav-item">
						<a class="hoverable nav-link" aria-current="page" href="{{ path('photos') }}">Photos</a>
					</li>

					{# NEWLETTERS #}
					<li class="nav-item">
						<a class="hoverable nav-link" href="{{ path('newsletters') }}">Newletters</a>
					</li>

					{# ASSO #}
					<li class="nav-item dropdown">
						<a
							class="hoverable nav-link dropdown-toggle"
							href="#"
							id="navbarDropdown"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							L'asso
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{{ path('infos') }}">Infos pratique</a></li>
							<li><a class="dropdown-item" href="{{ path('faq') }}">Foire aux questions</a></li>
							<li><a class="dropdown-item" href="{{ path('organigramme') }}">Organigramme</a></li>
							<li><a class="dropdown-item" href="{{ path('reglement') }}">Réglement intérieur</a></li>
							<li><a class="dropdown-item" href="{{ path('statuts') }}">Statuts</a></li>
						</ul>
					</li>

					{# CONTACT #}
					<li class="nav-item dropdown">
						<a
							class="hoverable nav-link dropdown-toggle"
							href="#"
							id="navbarDropdown"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Nous contacter
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{{ path('message') }}">Laisser un message</a></li>
							<li><a class="dropdown-item" href="{{ path('appel') }}">Nous appeller</a></li>
							<li><hr class="dropdown-divider"></li>
							<li>ludimeep@protonmail.com</li>
						</ul>
					</li>

					{# CONNEXION #}
					<li class="nav-item">
						<a class="hoverable nav-link" href="{{ path('inscription') }}">Inscription</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>