{% set route = app.request.attributes.get('_route') %}
<div class="text-center">
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">


			<ul class="navbar-nav me-auto mb-2">

				{# ADMIN #}
				<li class="nav-item admin">
					<i class="fas fa-screwdriver" title='Admin'></i>
					ADMIN
				</li>

				{# MEMBRES #}
				<li class="nav-item">
					<a class="admin-li hoverable nav-link {{ route == 'user_index' ? 'active'}}" aria-current="page" href="{{ path('user_index') }}">
						<i class="fas fa-user" title='Liste des membres'></i>
						Membres
					</a>
				</li>

				{# ADD ACTU #}
				<li class="nav-item">
					<a class="admin-li hoverable nav-link {{ route == 'actu_add' ? 'active'}}" aria-current="page" href="{{ path('actu_add') }}">
						<i class="fa-solid fa-newspaper" title="Ajout d'actualités"></i>
						Ajout Actu
					</a>
				</li>

				{# ADD NEWSLETTER #}
				<li class="nav-item">
					<a class="admin-li hoverable nav-link {{ route == 'newsletter_add' ? 'active'}}" aria-current="page" href="{{ path('newsletter_add') }}">
						<i class="fa-regular fa-envelope" title='Créer des newsletters'></i>
						Créer Newsletter
					</a>
				</li>

				{# VOIR MESSAGE #}
				<li class="nav-item">
					<a class="admin-li hoverable nav-link {{ route == 'message_index' ? 'active'}}" aria-current="page" href="{{ path('message_index') }}">
						<i class="fas fa-comment"  title='Voir les messages'></i>
						Voir les messages (0)
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>