{# OUVERTURE TABLE #}
{% if null != app.user or (null == app.user and seance.tables|length > 0) %}
	<hr>
	<div class='offset-2 col-8 pt-1'>
		<i class="fas fa-border-all" title='Tables'></i>
		TABLE{{ seance.tables|length > 1 ? 'S' }}
		<i class="fas fa-border-all" title='Tables'></i>
	</div>
{% endif %}

{# OUVRIR UNE TABLE #}
{% if null != app.user %}
	<div
		class='col-2 btn btn-info openTable {{ seance.tables|length >= seance_max_table ? 'disabled' }}'
		title='{{ seance.tables|length >= seance_max_table ? 'Limite de table atteinte' : 'Ouvrir une table' }}'
		data-seance='{{ seance.date|date('d/m/Y') }}'
	>
		<i class="fas fa-plus"></i>
	</div>
{% endif %}

{# TABLES #}
{% for table in seance.tables %}

	{# VARS #}
	{% set nbPlace = table.maxPlayer <= table_max_players ? table.maxPlayer : table_max_players %}
	{% set inscrit = null != app.user and app.user.isInscrit(app.user, table) ? true : false %}

	<div class="table-bordure">

		{# LOOP PLAYERS #}
		{% for player in table.players %}

			{# VARS #}
			{% set nbPlace = nbPlace - 1 %}
			{% set playerUser = null != app.user and player.id == app.user.id ? true : false %}
			{% set gerant = table.gerant == player ? true : false %}
			{% set name = null != player.userProfil.prenom ? ' (' ~ player.userProfil.prenom|capitalize ~ ')' : '' %}

			{# JEU + INSCRIPTION #}
			{% if loop.first %}
				<div class='col-12 mt-1 mb-2 taille15 gras souligne'>

					{# NOM DU JEU #}
					{{ null != table.gameFree ? table.gameFree|capitalize : table.game.name|capitalize }}

					{# FORM INSCRIPTION #}
					{% if null != app.user %}
						{# {% set form = loop.index == 1 ? seance_presence_form_1 : seance_presence_form_2 %} #}
						{% include('table/_form_presence.html.twig')  with {
								'form': table_player_form_1,
								'inscrit': inscrit,
							}
						%}
					{% endif %}
				</div>
			{% endif %}

			{# PLAYERS #}
			<div
				class='col-12 table-player{{ playerUser ? '-user' : gerant ? '-gerant' }} {{ gerant ? 'pointeur_help' }} taille15'
				title='{{ gerant ? 'Administrateur de la table'}}{{ playerUser ? gerant ? ' - Vous même' : 'Vous même' }}'
			>
				{{ gerant ? '*'}}
				{{ player.userName|capitalize }}{{ name }}
			</div>
		{% endfor %}

		{# PLACE LIBRE #}
		{% for i in 1..nbPlace %}
			<div class='col-12 {{ loop.first ? 'mt-1' }} {{ loop.last ? 'mb-2' }} table-free italique taille15'>
				Place libre {{ i }}
			</div>
		{% endfor %}

		{# COMMENT #}
		{% if table.comment %}
			<div class='col-12 mb-2 taille15'>
				{{ table.comment }}
			</div>
		{% endif %}

	</div>
{% endfor %}