{{ form_start(form) }}

	{% set label = 'col-5 offset-1 mb-4 alignRight' %}
	{% set widget = 'col-3 mb-4' %}

	{# PROFIL #}
	{% if edit %}
		<div class="row center mt-4">
			<div class="col-4 offset-4 mb-4 souligne">
				Profil
			</div>
		</div>

		<div class="row center mt-4">

			{# NOM #}
			<div class="{{ label }}">
				{{ form_label(form.profil.nom) }}
			</div>
			<div class="{{ widget }}">
				{{ form_widget(form.profil.nom) }}
			</div>

			{# PRENOM #}
			<div class="{{ label }}">
				{{ form_label(form.profil.prenom) }}
			</div>
			<div class="{{ widget }}">
				{{ form_widget(form.profil.prenom) }}
			</div>

			{# MAIL #}
			<div class="{{ label }}">
				{{ form_label(form.profil.mail) }}
			</div>
			<div class="{{ widget }}">
				{{ form_widget(form.profil.mail) }}
			</div>

			{# ADRESSE #}
			<div class="{{ label }}">
				{{ form_label(form.profil.adresse) }}
			</div>
			<div class="col-5 mb-4">
				{{ form_widget(form.profil.adresse) }}
			</div>

			{# VILLE #}
			<div class="{{ label }}">
				{{ form_label(form.profil.ville) }}
			</div>
			<div class="{{ widget }}">
				{{ form_widget(form.profil.ville) }}
			</div>

			{# CODE POSTAL #}
			<div class="{{ label }}">
				{{ form_label(form.profil.codePostal) }}
			</div>
			<div class="{{ widget }}">
				{{ form_widget(form.profil.codePostal) }}
			</div>

			{# PAYS #}
			<div class="{{ label }}">
				{{ form_label(form.profil.pays) }}
			</div>
			<div class="{{ widget }}">
				{{ form_widget(form.profil.pays) }}
			</div>

			{# TÉLÉPHONE #}
			<div class="{{ label }}">
				{{ form_label(form.profil.telephone) }}
			</div>
			<div class="{{ widget }}">
				{{ form_widget(form.profil.telephone) }}
			</div>
		</div>
	{% endif %}

	{# SITE INTERNET #}
	{% if edit %}
		<div class="row center mt-5">
			<div class="col-4 offset-4 mb-4 souligne">
				Site internet
			</div>
		</div>
	{% endif %}

	<div class="row center mt-4">

		{# LOGIN #}
		{% if edit == false or is_granted('ROLE_ADMIN') %}
			<div class="{{ label }}">
				{{ form_label(form.userName) }}
			</div>
			<div class="{{ widget }}">
				{{ form_widget(form.userName) }}
			</div>
		{% endif %}

		{# MOT DE PASSE #}
		{% if edit == false or is_granted('ROLE_ADMIN') or user.id == app.user.id %}
			<div class="{{ label }}">
				{{ edit == false ? form_label(form.password) : 'Changer le mot de passe' }}
			</div>
			<div class="{{ widget }}">
				{{ form_widget(form.password) }}
			</div>
		{% endif %}

		{% if edit %}

			{# ADMIN #}
			{% if is_granted('ROLE_ADMIN') %}
				<div class="{{ label }}">
					{{ form_label(form.admin) }}
				</div>
				<div class="{{ widget }} pt-2">
					{{ form_widget(form.admin) }}
				</div>
				<div class="{{ label }}">
					{{ form_label(form.anonyme) }}
				</div>
				<div class="{{ widget }} pt-2">
					{{ form_widget(form.anonyme) }}
				</div>
				<div class="{{ label }}">
					{{ form_label(form.ip) }}
				</div>
				<div class="{{ widget }}">
					{{ form_widget(form.ip) }}
				</div>
				<div class="{{ label }}">
					{{ form_label(form.accesPhoto) }}
				</div>
				<div class="{{ widget }} pt-2">
					{{ form_widget(form.accesPhoto) }}
				</div>
				<div class="{{ label }}">
					{{ form_label(form.accesPhotoLanceurAlerte) }}
				</div>
				<div class="{{ widget }} pt-2">
					{{ form_widget(form.accesPhotoLanceurAlerte) }}
				</div>

				{# COMMENTAIRE #}
				<div class="{{ label }}">
					{{ form_label(form.commentaire) }}
				</div>
				<div class="col-5 mb-4">
					{{ form_widget(form.commentaire) }}
				</div>
			{% endif %}

			{# NEWSLETTER #}
			<div class="{{ label }}">
				{{ form_label(form.newsletter) }}
			</div>
			<div class="{{ widget }} pt-2">
				{{ form_widget(form.newsletter) }}
			</div>
		{% endif %}
	</div>

	{# ASSOCIATION #}
	{% if edit %}
		<div class="row center mt-5">
			<div class="col-4 offset-4 mb-4 souligne">
				Association Ludi-Meep'
			</div>
		</div>

		<div class="row center mt-4">

			{# ADHERENT #}
			{% if is_granted('ROLE_ADMIN') %}
				<div class="{{ label }}">
					{{ form_label(form.asso.adherant) }}
				</div>
				<div class="{{ widget }}">
					{{ form_widget(form.asso.adherant) }}
				</div>

				{# DATE INSCRIPTION #}
				<div class="{{ label }}">
					{{ form_label(form.asso.dateInscription) }}
				</div>
				<div class="{{ widget }}">
					{{ form_widget(form.asso.dateInscription) }}
				</div>

				{# DATE FIN ADHÉSION #}
				<div class="{{ label }}">
					{{ form_label(form.asso.dateFinAdhesion) }}
				</div>
				<div class="{{ widget }}">
					{{ form_widget(form.asso.dateFinAdhesion) }}
				</div>
			{% endif %}

			{# DROIT IMAGE #}
			<div class="{{ label }}">
				{{ form_label(form.asso.droitImage) }}
			</div>
			<div class="{{ widget }} pt-2">
				{{ form_widget(form.asso.droitImage) }}
			</div>

			{# NOTORIETE #}
			<div class="{{ label }}">
				{{ form_label(form.asso.notoriete) }}
			</div>
			<div class="col-4 mb-4">
				{{ form_widget(form.asso.notoriete) }}
			</div>

			{% if is_granted('ROLE_ADMIN') %}

				{# ROLE CA #}
				<div class="{{ label }}">
					{{ form_label(form.asso.mandat) }}
				</div>
				<div class="{{ widget }}">
					{{ form_widget(form.asso.mandat) }}
				</div>

				{# DATE FIN MANDAT #}
				<div class="{{ label }}">
					{{ form_label(form.asso.dateFinMandat) }}
				</div>
				<div class="{{ widget }}">
					{{ form_widget(form.asso.dateFinMandat) }}
				</div>

				{# MEMBRE D'HONNEUR #}
				<div class="{{ label }}">
					{{ form_label(form.asso.membreHonneur) }}
				</div>
				<div class="{{ widget }} pt-2">
					{{ form_widget(form.asso.membreHonneur) }}
				</div>
			{% endif %}
		{% endif %}

		{{ form_widget(form) }}

		<div class="col-6 offset-3 mt-4 mb-4">
			<button class="btn btn-success">{{ button_label|default("S'enregistrer") }}</button>
		</div>
	</div>
{{ form_end(form) }}