{% extends 'base.html.twig' %}

{% block title %}Admin - Liste des utilisateurs{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('user') }}
{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Liste utilisateurs</h2>

			{# TABLEAU LISTE #}
			<section class='col-12 mb-3 {# overflow-scroll #}'>
				<table class="table">
					<thead>
						<tr>
							<th>Actions</th>
							<th>Login</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Admin</th>
							<th title="Solde (Nbre de lignes / A valider)" class="pointeur_help">Solde</th>
							<th>Droit image</th>
							<th>Date fin adhésion</th>
							<th title="Gérer les mandats">
								<a class="black italique" href="{{ path('mandat') }}">
									Mandat
								</a>
							</th>
							<th>Date fin mandat</th>
						</tr>
					</thead>
					<tbody>

					{% set soldes_repas = 0 %}
					{% for user in users %}
						<tr>
							<td style='min-width:100px;'>
								<div class='row'>
									<div class='col-4 offset-1'>
										<a href="{{ path('user_show', {'id': user.id}) }}" class="mr-3"><i class="fas fa-user" title="Fiche utilisateur"></i></a>
									</div>
									<div class='col-4'>
										<a href="{{ path('user_edit', {'id': user.id}) }}">
											<i class="fas fa-edit" title="Modifier sa fiche"></i>
										</a>
									</div>
								</div>
							</td>
							<td class='{{ user.active == false ? 'text-warning' }} {{ user.anonyme ? 'red' }}'>
								<span
									title="{{ user.anonyme ? 'Anonyme' }} {{ user.active == false ? 'Compte désactivé' }}"
									class="{{ user.anonyme or user.active == false ? 'pointeur_help' }}"
								>
									{{ user.userName }}
								</span>
							</td>
							<td>{{ user.profil.nom }}</td>
							<td>{{ user.profil.prenom }}</td>
							<td>{{ 'ROLE_ADMIN' in user.roles|json_encode
								? '<i class="fas fa-check green"></i>'
								: '<i class="fas fa-times red"></i>' }}
							</td>

							{# SOLDE #}
							<td id='td_solde'>
								{% if user.asso.adherant %}
									{%
										set lignes_unvalid = render(
											controller(
												'App\\Controller\\OperationController::unvalid',
												{ 'id': user.id }
											)
										)
									%}
									{%
										set solde = render(
											controller(
												'App\\Controller\\OperationController::solde',
												{ 'id': user.id }
											)
										)
									%}
									{% set soldes_repas = soldes_repas + solde %}
									<a
										href="{{ path('operation_show', {'id': user.id}) }}"
										class="{{ solde >= 0 ? 'green' : 'red' }}"
									>{{ solde }} €</a>

										{% if lignes_unvalid > 0 %}
											( <span class="red">{{ lignes_unvalid }}</span> )
										{% endif %}
								{% endif %}
							</td>

							{# DROIT IMAGE #}
							<td>
								{{
									user.asso.droitImage is null
										? 'Sans réponse'
										: user.asso.droitImage
											? '<i class="fas fa-check green"></i>'
											: '<i class="fas fa-times red"></i>'
								}}
							</td>

							{# ASSO #}
							{% set dateFinAdhe = user.asso.dateFinAdhesion %}
							<td class="{{ dateFinAdhe != null and dateFinAdhe < date_now ? 'red' }}">
								{{ dateFinAdhe is null ? '' : dateFinAdhe|date('d/m/Y') }}
							</td>

							<td>{{ user.asso.mandat is null ? '' : user.asso.mandat.titre }}</td>

							{% set dateFinMandat = user.asso.dateFinMandat %}
							<td class="{{ dateFinMandat != null and dateFinMandat < date_now ? 'red' }}">
								{{ dateFinMandat is null ? '' : dateFinMandat|date('d/m/Y') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="11">Pas d'utilisateurs</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

				Solde total des comptes repas : {{ soldes_repas }} €
			</section>
		</div>
	</div>
{% endblock %}