{% extends 'base.html.twig' %}

{% block title %}Fiche utilisateur{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('user_fiche') }}
{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Fiche utilisateur</h2>

			{# FICHE #}
			<section class='row'>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="center col-3">
						<a href="{{ path('user', {'id': user.id}) }}" class="btn btn-info">Retour</a>
					</div>
				{% endif %}
				<div class="center offset-{{ is_granted('ROLE_ADMIN') ? '6' : '9' }} col-3">
					<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning">Modifier mes informations</a>
				</div>

				{% if not is_granted('ROLE_ADMIN') %}
					<h5 class="center gras offset-4 col-4">
						{{ user.userName|capitalize }}
					</h5>
				{% endif %}

				<div class='col-8 offset-2 mb-3'>
					<h3 class='mt-4 mb-4'>Profil</h3>
					<table class="table table-striped table-hover table-responsive mb-4">
						<tbody>
							<tr>
								<th>Nom</th>
								<td class="smallbox">{{ user.userProfil.nom }}</td>
							</tr>
							<tr>
								<th>Prénom</th>
								<td>{{ user.userProfil.prenom }}</td>
							</tr>
							<tr>
								<th>Courriel</th>
								<td>{{ user.userProfil.mail }}</td>
							</tr>
							<tr>
								<th>Adresse</th>
								<td>{{ user.userProfil.adresse }}</td>
							</tr>
							<tr>
								<th>Ville</th>
								<td>{{ user.userProfil.ville }}</td>
							</tr>
							<tr>
								<th>Code postal</th>
								<td>{{ user.userProfil.codePostal }}</td>
							</tr>
							<tr>
								<th>Pays</th>
								<td>{{ user.userProfil.pays }}</td>
							</tr>
							<tr>
								<th>Téléphone</th>
								<td>{{ user.userProfil.telephone }}</td>
							</tr>
						</tbody>
					</table>
					<br />

					<h3 class='mt-4 mb-4'>Site internet</h3>
					<table class="table table-striped table-hover table-responsive">
						<tbody>
							{% if is_granted('ROLE_ADMIN') %}
								<tr>
									<th>Id</th>
									<td>{{ user.id }}</td>
								</tr>
								<tr>
									<th>Login</th>
									<td>{{ user.userName }}</td>
								</tr>
								<tr>
									<th>Mot de passe</th>
									<td>*****</td>
								</tr>
								<tr>
									<th>Anonyme</th>
									<td>{{ user.anonyme ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}</td>
								</tr>
								{% if user.anonyme %}
									<tr>
										<th>Mot de passe temporaire</th>
										<td>{{ user.passwordTempo }}</td>
									</tr>
								{% endif %}
								<tr>
									<th>Admin</th>
									<td>{{ 'ROLE_ADMIN' in user.roles|json_encode ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}</td>
								</tr>
							{% endif %}
							<tr>
								<th>Inscrit à la newsletter</th>
								<td>
									{{ user.newsletter is null ? 'Sans réponse' : user.newsletter ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}
								</td>
							</tr>
						</tbody>
					</table>
					<br />

					<h3 class='mt-4 mb-4'>Association Ludi-Meep'</h3>
					<table class="table table-striped table-hover">
						<tbody>
							<tr>
								<th>Adhérant ?</th>
								<td>{{ user.userAsso.adherant is not null  ? 'Oui' : 'Non' }}</td>
							</tr>
							{% if user.userAsso.adherant %}
								<tr>
									<th>N° adhérant</th>
									<td>{{ user.userAsso.adherant }}</td>
								</tr>
								<tr>
									<th>Date d'inscription</th>
									<td>{{ user.userAsso.dateInscription is null ? '' : user.userAsso.dateInscription|date('d/m/Y') }}</td>
								</tr>
								<tr>
									<th>Date de fin d'adhésion</th>
									<td>{{ user.userAsso.dateFinAdhesion is null ? '' : user.userAsso.dateFinAdhesion|date('d/m/Y') }}</td>
								</tr>
								<tr>
									<th>Membre du CA ?</th>
									<td>
										{{ user.userAsso.roleCa is not null ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}
									</td>
								</tr>
								{% if user.userAsso.roleCa is not null %}
									<tr>
										<th>Rôle du CA</th>
										<td>{{ user.userAsso.roleCa }}</td>
									</tr>
									<tr>
										<th>Date de fin de mandat</th>
										<td>{{ user.userAsso.dateFinMandat is null ? '' : user.userAsso.dateFinMandat|date('d/m/Y') }}</td>
									</tr>
								{% endif %}
								<tr>
									<th>Membre d'honneur ?</th>
									<td>{{ user.userAsso.membreHonneur ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}</td>
								</tr>
							{% endif %}
							<tr>
								<th>J'autorise l'utilisation de mon image ?</th>
								<td>
									{{ user.userAsso.droitImage is null ? 'Sans réponse' : user.userAsso.droitImage ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}
								</td>
							</tr>
							<tr>
								<th>Vous avez connu Ludi-Meep' gràce à</th>
								<td>{{ user.userAsso.notoriete }}</td>
							</tr>
							{% if is_granted('ROLE_ADMIN') %}
								<tr>
									<th>Commentaire</th>
									<td>{{ user.commentaire }}</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
{% endblock %}