{% extends 'base.html.twig' %}

{% block title %}Fiche utilisateur{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('user_fiche') }}
{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Fiche utilisateur</h2>

			{# FICHE #}
			<section class='row'>
				<div class="center offset-9 col-3"><a href="{{ path('user_edit', {'id': user.id}) }}">Modifier mes informations</a></div>

				{% if not is_granted('ROLE_ADMIN') %}
					<h5 class="center gras offset-4 col-4">
						{{ user.userName|capitalize }}
					</h5>
				{% endif %}

				<div class='col-8 offset-2 mb-3'>
					<h3 class='mt-4 mb-4'>Profil</h3>
					<table class="table table-striped table-hover table-responsive mb-4">
						<tbody>
							<tr>
								<th>Nom</th>
								<td class="smallbox">{{ user.nom }}</td>
							</tr>
							<tr>
								<th>Prénom</th>
								<td>{{ user.prenom }}</td>
							</tr>
							<tr>
								<th>Courriel</th>
								<td>{{ user.mail }}</td>
							</tr>
							<tr>
								<th>Adresse</th>
								<td>{{ user.adresse }}</td>
							</tr>
							<tr>
								<th>Téléphone</th>
								<td>{{ user.telephone }}</td>
							</tr>
						</tbody>
					</table>
					<br />

					<h3 class='mt-4 mb-4'>Site internet</h3>
					<table class="table table-striped table-hover table-responsive">
						<tbody>
							{% if is_granted('ROLE_ADMIN') %}
								<tr>
									<th>Id</th>
									<td>{{ user.id }}</td>
								</tr>
								<tr>
									<th>Login</th>
									<td>{{ user.userName }}</td>
								</tr>
								<tr>
									<th>Mot de passe</th>
									<td>*****</td>
								</tr>
								<tr>
									<th>Admin</th>
									<td>{{ 'ROLE_ADMIN' in user.roles|json_encode ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}</td>
								</tr>
							{% endif %}
							<tr>
								<th>Inscrit à la newsletter</th>
								<td>
									{{ user.newsletter is null ? 'Sans réponse' : user.newsletter ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}
								</td>
							</tr>
						</tbody>
					</table>
					<br />

					<h3 class='mt-4 mb-4'>Association Ludi-Meep'</h3>
					<table class="table table-striped table-hover">
						<tbody>
							<tr>
								<th>Adhérant ?</th>
								<td>{{ user.adherant is not null  ? 'Oui' : 'Non' }}</td>
							</tr>
							{% if user.adherant %}
								<tr>
									<th>N° adhérant</th>
									<td>{{ user.adherant }}</td>
								</tr>
								<tr>
									<th>Date d'inscription</th>
									<td>{{ user.dateInscription is null ? '' : user.dateInscription|date('d/m/Y') }}</td>
								</tr>
								<tr>
									<th>Date de fin d'adhésion</th>
									<td>{{ user.dateFinAdhesion is null ? '' : user.dateFinAdhesion|date('d/m/Y') }}</td>
								</tr>
							{% endif %}
							<tr>
								<th>J'autorise l'utilisation de mon image ?</th>
								<td>
									{{ user.droitImage is null ? 'Sans réponse' : user.droitImage ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}
								</td>
							</tr>
							<tr>
								<th>Vous avez connu Ludi-Meep' gràce à</th>
								<td>{{ user.notoriete }}</td>
							</tr>
							<tr>
								<th>Membre du CA ?</th>
								<td>{{  user.roleCa is not null ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}</td>
							</tr>
							{% if user.roleCa is not null %}
								<tr>
									<th>Rôle du CA</th>
									<td>{{ user.roleCa }}</td>
								</tr>
								<tr>
									<th>Date de fin de mandat</th>
									<td>{{ user.dateFinMandat is null ? '' : user.dateFinMandat|date('d/m/Y') }}</td>
								</tr>
							{% endif %}
							<tr>
								<th>Membre d'honneur ?</th>
								<td>{{ user.membreHonneur ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' }}</td>
							</tr>
							{% if is_granted('ROLE_ADMIN') %}
								<tr>
									<th>Commentaire</th>
									<td>{{ user.commentaire }}</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
{% endblock %}